# Common build output directory names
build/
.build/
_build/
build-output/
cmake-out/
*/Release/test-*

# Backup files for Emacs
*~

# Ignore Visual Studio Code files
.vsbuild/
.vscode/

#easyeai-api
